Dear Zachary Valatare,

<!--#echo var="name" --> just filled out the web form at: 
       
        <!--#echo var="HTTP_REFERER" -->

<!--#echo var="name" -->, who is obviously very clever, wrote:

<!--#echo var="body" -->

<!--#echo var="name" -->'s e-mail address is: <!--#echo var="from" -->

Sincerely,

Joel
