Dear Zachary Valatare,

<!--#echo var="name" --> just requested to be added to our newsletter. 
       
<!--#echo var="name" -->'s e-mail address is: <!--#echo var="from" -->

Sincerely,

Your webmaster Joel
