Dear Zachary Valatare,

Someone just requested to be added to our newsletter (using our website). 
       
Please add the following e-mail address to the newsletter: 

<!--#echo var="from" -->

Sincerely,

Your webmaster Joel
